<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
<p class="maintxt">The Movie Project</p>
<div class="search">
  <input type="text" [(ngModel)]="searchTerm" class="movietxt" placeholder="Search for a movie..." (keyup.enter)="searchMovie(searchTerm)" (input)="searchMovie(searchTerm)">
</div>
<div class="searchResult" *ngIf="displayComp">
  <app-search-result [movieData]="movieData"></app-search-result>
</div>